[Desktop Entry]
Name=Quakespasm VR
Comment=A VR and desktop port of the Quake engine
Exec=quakespasm-openvr
Icon=net.sourceforge.quakespasm.Quakespasm
StartupNotify=true
PrefersNonDefaultGPU=true
Terminal=false
Type=Application
Categories=Game;Shooter;
Keywords=quake;first;person;shooter;
